<div class="row">
  <div class="col-md-11" style="margin-left: 20px">
    <h3 style="margin-top: 20px">List Facture</h3>
    <hr />
    <button
      class="btn btn-round btn-sm btn-success"
      (click)="open(mymodal1,null,null)"
    >
      Add new Reward
    </button>
    <br /><br />
    <table class="table table-hover">
      <thead>
        <tr>
          <th>Name</th>
          <th>Quantity</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let p of listRewards; let indexOfelement = index">
          <td>{{ p.name }}</td>
          <td>{{ p.quantity }}</td>
          <td>
            <button
              (click)="deleteReward(p.id)"
              class="btn btn-danger"
            >
              Delete
            </button>
            <button
              type="button"
              class="btn btn-outline-primary"
              (click)="open(mymodal2,p,p.id)"
            >
              Edit
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<ng-template #mymodal1 let-modal1>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Add new Reward</h4>
    <button
      type="button"
      class="btn-close"
      aria-label="Close"
      (click)="modal1.dismiss('Cross click')"
    ></button>
  </div>
  <div class="modal-body">
    <form>
      <div class="mb-3">
        <label for="mr">Name</label>
        <div class="input-group">
          <input
            type="text"
            class="form-control"
            id="mr"
            placeholder="Name"
            [(ngModel)]="reward.name"
            [ngModelOptions]="{ standalone: true }"
          />
        </div>
      </div>
      <div class="mb-3">
        <label for="mr">Quantity</label>
        <div class="input-group">
          <input
            type="number"
            class="form-control"
            id="mr"
            placeholder="Quantity"
            [(ngModel)]="reward.quantity"
            [ngModelOptions]="{standalone: true}"
          />
        </div>
      </div>
      <div class="modal-footer">
        <button
          type="button"
          class="btn btn-outline-primary"
          (click)="addReward(reward)"
          (click)="modal1.close('Save click')"
        >
          Add
        </button>
        <button
          type="button"
          class="btn btn-outline-secondary"
          (click)="modal1.dismiss('Cross click')"
        >
          Close
        </button>
      </div>
    </form>
  </div>
</ng-template>

<ng-template #mymodal2 let-modal2>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Edit Reward</h4>
    <button
      type="button"
      class="btn-close"
      aria-label="Close"
      (click)="modal2.dismiss('Cross click')"
    ></button>
  </div>

  <div class="modal-body">
    <form>
      <div class="mb-3">
        <label for="mr">Name</label>
        <div class="input-group">
          <input
            type="text"
            class="form-control"
            id="mr"
            placeholder="Name"
            [(ngModel)]="reward.name"
            [ngModelOptions]="{ standalone: true }"
          />
        </div>
      </div>
      <div class="mb-3">
        <label for="mr">Quantity</label>
        <div class="input-group">
          <input
            type="number"
            class="form-control"
            id="mr"
            placeholder="Quantity"
            [(ngModel)]="reward.quantity"
            [ngModelOptions]="{standalone: true}"
          />
        </div>
      </div>
      <div class="modal-footer">
        <button
          type="button"
          class="btn btn-outline-primary"
          (click)="updateReward(reward)"
          (click)="modal2.close('Save click')"
        >
          Edit
        </button>
        <button
          type="button"
          class="btn btn-outline-secondary"
          (click)="modal2.dismiss('Cross click')"
        >
          Close
        </button>
      </div>
    </form>
  </div>

</ng-template>
