<div class="row">
  <div class="col-md-11" style="margin-left: 20px">
    <h3 style="margin-top: 20px">List Locals</h3>
    <hr />
    <button
      class="btn btn-round btn-sm btn-success"
      (click)="open(mymodal1, null, null)"
    >
      Add new Local
    </button>
    <br /><br />
    <table class="table table-hover">
      <thead>
        <tr>
          <th>Name</th>
          <th>Address</th>
          <th>Status</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let p of listLocals; let indexOfelement = index">
          <td>{{ p.name }}</td>
          <td>{{ p.address }}</td>
          <td>{{ p.status }}</td>
          <td>
            <button
              (click)="deleteLocal(indexOfelement)"
              class="btn btn-danger"
            >
              Delete
            </button>
            <button
              type="button"
              class="btn btn-outline-primary"
              (click)="open(mymodal2, p, indexOfelement)"
            >
              Edit
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
<ng-template #mymodal1 let-modal1>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Add new Local</h4>
    <button
      type="button"
      class="btn-close"
      aria-label="Close"
      (click)="modal1.dismiss('Cross click')"
    ></button>
  </div>
  <div class="modal-body">
    <form>
      <div class="mb-3">
        <label for="mr">Name</label>
        <div class="input-group">
          <input
            id="mr"
            class="form-control"
            type="text"
            placeholder="Local Name"
            [(ngModel)]="local.name"
            [ngModelOptions]="{ standalone: true }"
          />
        </div>
      </div>
      <div class="mb-3">
        <label for="val">Address</label>
        <div class="input-group">
          <input
            id="val"
            class="form-control"
            type="text"
            placeholder="Local Address(true/false)"
            [(ngModel)]="local.address"
            [ngModelOptions]="{ standalone: true }"
          />
        </div>
      </div>
      <div class="mb-3">
        <div class="input-group">
          <input
            class="form-check-input"
            type="checkbox"
            id="status"
            placeholder="Local Status"
            [(ngModel)]="local.status"
            [ngModelOptions]="{ standalone: true }"
            [checked]="local.status"
          />
          <label class="form-check-label" for="status"> Status </label>
        </div>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button
      type="button"
      class="btn btn-success"
      (click)="addLocal(local)"
      (click)="modal1.close('Save click')"
    >
      Add
    </button>
    <button
      type="button"
      class="btn btn-danger"
      (click)="modal1.close('Save click')"
    >
      Cancel
    </button>
  </div>
</ng-template>
<ng-template #mymodal2 let-modal2>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Edit Local</h4>
    <button
      type="button"
      class="btn-close"
      aria-label="Close"
      (click)="modal2.dismiss('Cross click')"
    ></button>
  </div>
  <div class="modal-body">
    <form>
      <div class="mb-3">
        <label for="mr">Name</label>
        <div class="input-group">
          <input
            id="mr"
            class="form-control"
            type="text"
            placeholder="Local Name"
            [(ngModel)]="local.name"
            [ngModelOptions]="{ standalone: true }"
          />
        </div>
      </div>
      <div class="mb-3">
        <label for="val">Address</label>
        <div class="input-group">
          <input
            id="val"
            class="form-control"
            type="text"
            placeholder="Local Address"
            [(ngModel)]="local.address"
            [ngModelOptions]="{ standalone: true }"
          />
        </div>
      </div>
      <div class="mb-3">
        <label for="cdate">Status</label>
        <div class="input-group">
          <input
            class="form-check-input"
            type="checkbox"
            id="status"
            placeholder="Local Status"
            [(ngModel)]="local.status"
            [ngModelOptions]="{ standalone: true }"
            [checked]="local.status"
          />
          <label class="form-check-label" for="status"> Status </label>
        </div>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button
      type="button"
      class="btn btn-success"
      (click)="updateLocal(local)"
      (click)="modal2.close('Save click')"
    >
      Edit
    </button>
    <button
      type="button"
      class="btn btn-danger"
      (click)="modal2.close('Save click')"
    >
      Cancel
    </button>
  </div>
</ng-template>
