<div class="row">
  <div class="col-md-11" style="margin-left: 20px">
    <h3 style="margin-top: 20px">List Vaccines</h3>
    <hr />
    <button
      class="btn btn-round btn-sm btn-success"
      (click)="open(mymodal1, null, null)"
    >
      Add new Vaccine
    </button>
    <br /><br />
    <table class="table table-hover">
      <thead>
        <tr>
          <th>Name</th>
          <th>Validity</th>
          <th>Quantity</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let p of listVaccines; let indexOfelement = index">
          <td>{{ p.name }}</td>
          <td>{{ p.validity }}</td>
          <td>{{ p.quantity }}</td>
          <td>
            <button
              (click)="deleteVaccine(indexOfelement)"
              class="btn btn-danger"
            >
              Delete
            </button>
            <button
              type="button"
              class="btn btn-outline-primary"
              (click)="open(mymodal2, p, indexOfelement)"
            >
              Edit
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
<ng-template #mymodal1 let-modal1>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Add new Vaccine</h4>
    <button
      type="button"
      class="btn-close"
      aria-label="Close"
      (click)="modal1.dismiss('Cross click')"
    ></button>
  </div>
  <div class="modal-body">
    <form>
      <div class="mb-3">
        <label for="mr">Name</label>
        <div class="input-group">
          <input
            id="mr"
            class="form-control"
            type="text"
            placeholder="Vaccine Name"
            [(ngModel)]="vaccine.name"
            [ngModelOptions]="{ standalone: true }"
          />
        </div>
      </div>
      <div class="mb-3">
        <label for="val">Validity</label>
        <div class="input-group">
          <input
            id="val"
            class="form-control"
            type="text"
            placeholder="Vaccine Validity(true/false)"
            [(ngModel)]="vaccine.validity"
            [ngModelOptions]="{ standalone: true }"
          />
        </div>
      </div>
      <!-- <div class="mb-3">
        <select [value]="vaccine.validity">
          <option [value]="true">true</option>
          <option [value]="false">false</option>
        </select>
      </div> -->
      <div class="mb-3">
        <label for="cdate">Quantity</label>
        <div class="input-group">
          <input
            id="cdate"
            class="form-control"
            type="number"
            placeholder="Vaccine Quantity"
            [(ngModel)]="vaccine.quantity"
            [ngModelOptions]="{ standalone: true }"
          />
        </div>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button
      type="button"
      class="btn btn-success"
      (click)="addVaccine(vaccine)"
      (click)="modal1.close('Save click')"
    >
      Add
    </button>
    <button
      type="button"
      class="btn btn-danger"
      (click)="modal1.close('Save click')"
    >
      Cancel
    </button>
  </div>
</ng-template>
<ng-template #mymodal2 let-modal2>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Edit Vaccine</h4>
    <button
      type="button"
      class="btn-close"
      aria-label="Close"
      (click)="modal2.dismiss('Cross click')"
    ></button>
  </div>
  <div class="modal-body">
    <form>
      <div class="mb-3">
        <label for="mr">Name</label>
        <div class="input-group">
          <input
            id="mr"
            class="form-control"
            type="text"
            placeholder="Vaccine Name"
            [(ngModel)]="vaccine.name"
            [ngModelOptions]="{ standalone: true }"
          />
        </div>
      </div>
      <div class="mb-3">
        <label for="val">Validity</label>
        <div class="input-group">
          <input
            id="val"
            class="form-control"
            type="text"
            placeholder="Vaccine Validity(true/false)"
            [(ngModel)]="vaccine.validity"
            [ngModelOptions]="{ standalone: true }"
          />
        </div>
      </div>
      <!-- <div class="mb-3">
        <select [value]="vaccine.validity">
          <option [value]="true">true</option>
          <option [value]="false">false</option>
        </select>
      </div> -->
      <div class="mb-3">
        <label for="cdate">Quantity</label>
        <div class="input-group">
          <input
            id="cdate"
            class="form-control"
            type="number"
            placeholder="Vaccine Quantity"
            [(ngModel)]="vaccine.quantity"
            [ngModelOptions]="{ standalone: true }"
          />
        </div>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button
      type="button"
      class="btn btn-success"
      (click)="updateVaccine(vaccine)"
      (click)="modal2.close('Save click')"
    >
      Edit
    </button>
    <button
      type="button"
      class="btn btn-danger"
      (click)="modal2.close('Save click')"
    >
      Cancel
    </button>
  </div>
</ng-template>
